<div class="headerHolder"></div>

<section class="profileEditSection"> 
<h2>User details</h2>
<div class="pictureBox">
  <img src="../../assets/twitter.png" alt="">
  <app-black-button [text]="'Change picture'" [width]="'162px'" [height]="'36px'" [fontSize]="'15px'"> </app-black-button>
  <app-black-button [text]="'Deactivate'" [width]="'86px'" [height]="'36px'" [fontSize]="'15px'"> </app-black-button>
</div>
<!-- Edit Account Info section -->
<form action="">
  <label>
    <p>Full name</p>
    <input type="text" placeholder="First Last Name">
  </label>
  <label>
    <p >Email address</p>
    <input type="email" placeholder="Your email" >
  </label>
  <label>
    <p>Location</p>
    <input type="text" placeholder="City">
  </label>
  <label>
    <p>Cellphone Number</p>
    <input type="text" placeholder="Your Cellphone Number">
    <app-black-button [text]="'Modify'" [width]="'50px'" [height]="'36px'" [fontSize]="'14px'" [marginLeft]="'730px'"> </app-black-button>
  </label>
  </form>
  <h2>Change Password</h2>
<form action="">
  <label>
    <p>Current Password</p>
    <input type="text" placeholder="First Last Name">
  </label>
  <div>
    <label>   
      <p>New password</p>
      <input type="email" placeholder="Your email" >
    </label>
    <label>   
      <p>Confirm new password</p>
      <input type="email" placeholder="Your email" >
    </label>

  </div>
</form>
<app-black-button [width]="'144px'" [height]="'36px'" [fontSize]="'14px'" [text]="'Update password'" [marginLeft]="'40px'"></app-black-button>
</section>

