<section>
  <div class="contact">
    <input type="text" name="email" [(ngModel)]="email" id="" placeholder="Enter your email here">
    <button>Subscribe</button>
  </div>
  <div class="socialsBox">
    <div class="bankBox">
      <h2>Banco</h2>
      <nav>
        <a target="_blank" href="https://www.linkedin.com/in/gabriel-fernandes-453813264/">
          <img src="../../assets/link.png" alt="">
        </a>
        <a>
          <img src="../../assets/twitter.png" alt="">
        </a>
        <a>
          <img src="../../assets/insta.png" alt="">
        </a>
      </nav>
    </div>

    <div class="linkTree">
      <h2>Support Center</h2>
      <nav>
        <a href="">Support Center</a>
        <a href="">Privacy Policy</a>
        <a href="">Helpful Guides</a>
      </nav>
    </div>

    <div class="linkTree">
      <h2>FAQs</h2>
      <nav>
        <a href="">Terms of Service</a>
        <a href="">Site Map</a>
        <a href="">Newsletter</a>
      </nav>
    </div>

    <div class="linkTree">
      <h2>Contact Us</h2>
      <nav>
        <p>info&#64;bancodobrasil.com</p>
        <p>+123 456 789 000</p>
      </nav>
    </div>
  </div>
</section>