<nav>
  <button>
    <a routerLink="/" >Banco</a>
  </button>
  <button (click)="selectedToggle()">
  <span> 
    Personal
  </span> 
  </button>
  <ul *ngIf="selected">
    <li>
      <a routerLink="/create" (click)="selectedToggle()" *ngIf="!isLoged">Create</a>
    </li>
    
  
    <li *ngIf="isLoged">
      <a (click)="selectedToggle()" routerLink="/profile" >Profile</a>
    </li>
    <li *ngIf="isLoged">
      <a (click)="selectedToggle()" routerLink="/statement" >Statement</a>
    </li>
  </ul>

  <button>Business</button>

  <button>Loans</button>

  <button>Investments</button>
  
  <button>
    <a routerLink="/login" (click)="selectedToggle()"  *ngIf="!isLoged">Login</a>
      <button (click)="logout()" *ngIf="isLoged">Logout</button>
  </button>

</nav>
