<nav>
  <button (click)="selectedToggle()">
  <span> 
    Contas
  </span> 
  </button>
  <ul *ngIf="selected">
    <li>
      <a routerLink="/create" (click)="selectedToggle()" *ngIf="!isLoged">Create</a>
    </li>
    <li> 
      <a routerLink="/login" (click)="selectedToggle()"  *ngIf="!isLoged">Login</a>
    </li>
    <li>
      <button (click)="logout()" *ngIf="isLoged">Logout</button>
    </li>
    <li *ngIf="isLoged">
      <a (click)="selectedToggle()" routerLink="/profile" >Profile</a>
    </li>
    <li *ngIf="isLoged">
      <a (click)="selectedToggle()" routerLink="/statement" >Statement</a>
    </li>
  </ul>
</nav>
