// ul{
//   top: 42px;
//   position: absolute;
//   left: 121px;
//   li{
//   list-style-type: none;
//   }
// }
// button{
//   cursor: pointer;
//   left: 121px;
//   text-transform: none;
//   background-color: transparent;
//   border: 0;
//   font-size: 16px;
//   line-height: 1.125;
//   letter-spacing: .015em;
//   margin: 0 16px 0 0;
//   display: flex;
//   align-items: center;
//   height: 24px;
//   border-radius: 4px;
//   padding: 16px 8px;
//   text-decoration: none;
//   span {
//     color: black;
//   }
// }
// button:hover {
//   background-color: rgba(0, 0, 0, 0.2);
// }

header{
position:fixed;
z-index: 999;
height: 110px;
width: 100%;
background-color: #282828;
display: flex;
align-items: center;
justify-content: space-between;
  nav{
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    ul{
      background-color: transparent;
      list-style: none;
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;
      li {
      background-color: transparent;
       
      }
    }
  }  
}

a{
  background-color: transparent;
  text-decoration: none;
  color: white;
}

h1{
  padding-left: 64px;
  padding-right: 48px;
  background-color: transparent;
}

.login{
  margin-right: 40px;
  width: 184px;
  height: 42px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 50px;
  background-color: #000000;
}