main{
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {  
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background-color: #282828;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    margin-top: 30px;
    background-color: transparent;
    width: 350px;
    color: white;
    input {
      padding-left: 10px;
      margin-top: 5px;
      background-color: transparent;
      border: 0;
      width: 350px;
      height: 40px;
      background-color: #353535;
      border-radius: 200px;
    }
  }
}