
<div class="backgroundImage" [style.background-image]="imageUrl">

  
  <img src="../../assets/dollar.png" alt="" class="profilePicture">
</div>

<h2>Account Overview</h2>
<p>Placeholder, Location</p>

<div class="infoBox">
  <p>Name: PlacehoderName</p>
  <p>Email: PlaceholderEmail </p>
  <p>Balance: PlaceholderBalance </p>
  <p>Account Type: PlaceholderType</p>
    <app-black-button [width]="'220px'" [height]="'45px'" [buttonFunction]="teestFunction.bind(this)" [text]="'Edit Profile'" [marginLeft]="'331.5px'" [fontSize]="'16px'"></app-black-button>
</div>