<article class="home_firs_section">
  <div class="black_container">
  <h2>Secure and User-Friendly Experience</h2>
  <span>Trusted by Millions of Users Globally</span>
    <button></button>
    <button></button>
  </div>

  <main>
    <app-custom-box [backgroundColor]="'#161616'" [borderRadius]="'20px'" [width]="'100%'" [height]="'287px'"
    [route]="'/statement'" [headerFont]="'36px'" [header]="'Convenient One-Tap for Transactions'" [subText]="'Easy money transfers with no hidden charges.'"
    [isBigBox]="true" [subTextMt]="'17.5px'"
    ></app-custom-box>
    
    <section>
      <app-custom-box [backgroundColor]="'#161616'" [borderRadius]="'20px'" [width]="'611px'" [height]="'286px'" 
      [header]="'Earn Rewards on Every Payment!'" [headerFont]="'32px'" [subText]="'Exclusive rewards and cashback offers await you.'"
      [isBigBox]="false" [abstoluteText]="'+10% Cashback Bonus'"
      ></app-custom-box>

      <app-custom-box [backgroundColor]="'#161616'" [borderRadius]="'20px'" [width]="'611px'" [height]="'286px'"
      [header]="'Global Money Transfers Made Easy'" [headerFont]="'32px'" [subText]="'Supporting 100+ countries with transparent fees.'"
      [isBigBox]="false" [abstoluteText]="'24/7 Global Assistance'"
      ></app-custom-box>
    </section>


  </main>
  
</article>

<article class="nextComp">
  
<app-custom-section 
[header]="'Customize Your Debit Card'" [flexDirection]="'row'" [headerFont]="'36px'" 
[subText]="'Choose from a range of unique card designs or create your own. Personalize your card with photos or artwork, and select a rewards program that matches your spending habits to earn points or cashback on every purchase.'"
[subTextFont]="'16px'"   [route]="'/'" [routeText]="'Find Out More'" [imageUrl]="'../../../assets/house.png'"
></app-custom-section>

<app-custom-section 
[header]="'Simplified Investment Solutions'" [flexDirection]="'row-reverse'" [headerFont]="'36px'" 
[subText]="'Our expert advisors will assist you in selecting the best investment options tailored to your goals and risk tolerance. Explore a diverse range of investment products such as mutual funds, ETFs, stocks, and bonds to build a well-rounded portfolio.'"
[subTextFont]="'16px'" [route]="'/'" [routeText]="'Find Out More'" [imageUrl]="'../../../assets/dollar.png'"
></app-custom-section>

</article>

<app-modal *ngIf="showDialog" [message]="'Deseja confirmar essa ação?'"
(confirmed)="onCloseDialog($event)"></app-modal>